:root{

    --background:#090909;
    --card:#141414;
    --card-hover:#1C1C1C;

    --border:#2A2A2A;

    --primary:#D4AF37;
    --primary-hover:#E7C85A;

    --text:#FFFFFF;

    --muted:#9CA3AF;

    --danger:#DC2626;

}